* {
    background:                    #1e1e2e;
    background-alt:                #252538;
    foreground:                    #cdd6f4;
    border-color:                  #45475a;
    accent:                        #89b4fa;
}

window {
    transparency:                  "real";
    location:                      center;
    anchor:                        center;
    fullscreen:                    false;
    width:                         450px;
    padding:                       25px;
    border:                        1px solid;
    border-color:                  @accent;
    background-color:              @background;
}

mainbox {
    background-color:              transparent;
    children:                      [ "listview" ];
}

listview {
    columns:                       3;
    lines:                         2;
    cycle:                         true;
    dynamic:                       true;
    scrollbar:                     false;
    layout:                        vertical;
    spacing:                       15px;
    background-color:              transparent;
}

element {
    padding:                       35px 0px;
    background-color:              @background-alt;
    text-color:                    @foreground;
    border:                        0px;                    
    children:                      [ "element-text" ];   
}

element-text {
    font:                          "JetBrains Mono Nerd Font 28";
    background-color:              transparent;
    text-color:                    inherit;
    vertical-align:                0.5;
    horizontal-align:              0.5;
}

element normal.normal,
element alternate.normal {
    background-color:              @background-alt;
    text-color:                    @foreground;
}

element selected.normal,
element selected.active {
    background-color:              @accent;
    text-color:                    #11111b;
}
