configuration {
    show-icons: false;
}

* {
    bg: #1e1e2ecc;
    bg-alt: #31324488;
    fg: #cdd6f4;
    accent: #89b4fa;
    
    background-color: transparent;
    text-color: @fg;
}

window {
    transparency: "real";
    location: center;
    anchor: center;
    fullscreen: false;
    width: 350px;
    background-color: @bg;
    border: 1px solid;
    border-color: #45475a88;
    padding: 20px;
}

mainbox {
    spacing: 15px;
    orientation: vertical;
    children: [ "album-art", "top-message", "custom-text-box", "listview" ];
}

album-art {
    padding: 85px 0px;
    background-color: @bg-alt;
    background-image: url("~/.config/rofi/nowplaying/album_art.png", width);                                  
    expand: false; 
}

top-message {
    padding: 5px 0px 0px 0px;
    children: [ "textbox-msg" ];
    expand: false;
}

textbox-msg {
    expand: true;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    str: "  Now Playing"; 
    text-color: #a6adc8;
    font: "JetBrains Mono 10";
}

custom-text-box {
    expand: false;
    padding: 0px 0px 10px 0px;
    background-color: transparent;
    children: [ "textbox-custom" ];
}

textbox-custom {
    vertical-align: 0.5;
    horizontal-align: 0.5;
    markup: true; 
    font: "JetBrains Mono Bold 14";
    str: "Loading...";
}

listview {
    columns: 3;
    lines: 1;
    dynamic: true;
    reverse: false;    
    spacing: 15px;
    expand: false; 
}

element {
    padding: 12px;
    cursor: pointer;
    background-color: @bg-alt;
    orientation: horizontal;
}

element selected {
    background-color: @accent;
    text-color: #11111b;
}

element-text {
    cursor: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.5;
    font: "JetBrains Mono 14";
}
